{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - répertoire musical{% endblock %}

{% block body %}
    <div class="banner-picture"
         style="background-image: url('{{ asset('build/sheet-music.jpg') }}')">
    </div>

    <h1 class="text-light text-center fs-1 my-lg-4">Notre répertoire musical</h1>
    <div class="table-responsive-md">
        <table class="table table-info table-striped">
            <thead>
            <tr>
                <th>Titre</th>
                <th>Compositeur</th>
                <th>Statut</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            {% for sheet in repertory %}
                <tr>
                    <td>{{ sheet.title }}</td>
                    <td>{{ sheet.compositor }}</td>
                    <td>{{ sheet.status }}</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
