{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - répertoire musical{% endblock %}

{% block body %}
    <div class="banner-picture"
         style="background-image: url('{{ asset('build/sheet-music.jpg') }}')">
    </div>

    <h1 class="text-light text-center fs-1 my-lg-4">Notre répertoire musical</h1>
    <div  class="table-responsive-md d-flex justify-content-center">

        <table id="osso-repertory" class="table bg-blue table-striped table-hover">
            <thead>
            <tr>
                <th scope="col">Titre</th>
                <th scope="col">Compositeur</th>
                <th scope="col">Statut</th>
            </tr>
            </thead>
            <tbody>
            {% for sheet in repertory %}
                <tr>
                    <td>{{ sheet.title }}</td>
                    <td>{{ sheet.compositor }}</td>
                    <td>{{ sheet.status }}</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
