{% extends './admin/base.html.twig' %}

{% block title %}{{ parent() }} - Musicien{% endblock %}

{% block body %}
    <h1 class="text-center">Fiche de {{ musician.firstname }} {{ musician.lastname }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ musician.lastname }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ musician.firstname }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ musician.status }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-secondary" href="{{ path('app_musician_crud_index') }}">Revenir à la liste</a>

    <a class="btn btn-outline-success" href="{{ path('app_musician_crud_edit', {'id': musician.id}) }}">Éditer</a>

    {{ include('admin/musician_crud/_delete_form.html.twig') }}
{% endblock %}
