{% extends 'admin/base.html.twig' %}

{% block title %}Gallery index{% endblock %}

{% block body %}
    <h1>Gallery index</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Date</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gallery in galleries %}
            <tr>
                <td>{{ gallery.id }}</td>
                <td>{{ gallery.title }}</td>
                <td>{{ gallery.date ? gallery.date|date('Y-m-d') : '' }}</td>
                <td>{{ gallery.slug }}</td>
                <td>
                    <a href="{{ path('app_gallery_crud_show', {'id': gallery.id}) }}">show</a>
                    <a href="{{ path('app_gallery_crud_edit', {'id': gallery.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_gallery_crud_new') }}">Create new</a>
{% endblock %}
