{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }} - Liste des galeries photos{% endblock %}

{% block body %}
    <h1 class="text-center">Liste des galeries photos</h1>
    <table class="table" id="datatables-index">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gallery in galleries %}
            <tr>
                <td>{{ gallery.id }}</td>
                <td>{{ gallery.title }}</td>
                <td>{{ gallery.date ? gallery.date|date('d-m-Y') : '' }}</td>
                <td>
                    <a href="{{ path('app_gallery_crud_show', {'id': gallery.id}) }}">Montrer</a>
                    <a href="{{ path('app_gallery_crud_edit', {'id': gallery.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-outline-success" href="{{ path('app_gallery_crud_new') }}">Créer une nouvelle galerie</a>
{% endblock %}
