{% extends 'admin/base.html.twig' %}

{% block title %}{{ parent() }} - {{ gallery.title }}{% endblock %}

{% block body %}
    <h1 class="text-center">{{ gallery.title }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gallery.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ gallery.title }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ gallery.date ? gallery.date|date('d-m-Y') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-secondary" href="{{ path('app_gallery_crud_index') }}">Revenir à la liste</a>
<div class="btn-group" role="group" aria-label="show gallery">
    <a class="btn btn-outline-success" href="{{ path('app_gallery_crud_edit', {'id': gallery.id}) }}">Éditer</a>
    {{ include('admin/gallery_crud/_delete_form.html.twig') }}
</div>

{% endblock %}
