{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - médias{% endblock %}

{% block body %}
    <div class="banner-picture"
         style="background-image: url('{{ asset('build/press-banner.jpg') }}')">
    </div>
    <h1 class="text-light text-center fs-1 fw-bold my-lg-4 text-uppercase">médias</h1>
    <a class="text-light text-center" href={{ path('gallery_index')}}><h2>Galerie photos</h2></a>
    <hr class="mx-5">
<h2 class="fs-2 text-center text-light mt-4 text-decoration-underline">On parle de l'OSSO dans la presse</h2>
    <div class="container-fluid">
        <div class="row">
            {% for article in press_articles %}
                <div class="col-12 col-sm-8 mx-auto">
                    <h3 class="text-center text-light"><span>{{ article.newspaper }} : </span><a class="text-light" href={{ article.articleLink }}>{{ article.title }}</a></h3>
                    <h4 class="text-light text-center">Article daté du {{ article.articleDate|date('l j F Y')|format_datetime('full', 'none', locale='fr') }}</h4>
                </div>
            {% else %}
                {{ 'Désolé il n\'y a aucun article sur l\'OSSO en ce moment. Revenez plus tard' }}
            {% endfor %}
        </div>
    </div>

{% endblock %}
