{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Formulaire de connection{% endblock %}

{% block body %}
    {% if error %}
        <h4 class="text-light text-center mt-5">{{ error.messageKey|trans(error.messageData, 'security') }}</h4>
    {% endif %}
   <div class="container-fluid">
       <div class="row">
               <div class="col-12 col-sm-8 col-lg-5 mt-5 mx-auto">
                   <form action="{{ path('app_login') }}" method="post">
                       <h1 class="h3 mb-3 fw-normal text-light">Veuillez vous connecter</h1>
                       <div class="form-floating mb-3 mb-lg-4">
                           <input type="email" class="form-control" id="username" placeholder="name@example.com" name="_username" value="{{ last_username }}">
                           <label class="text-dark" for="username">Adresse e-mail</label>
                       </div>
                       <div class="form-floating">
                           <input type="password" class="form-control" id="password" placeholder="Password" name="_password">
                           <label class="text-dark" for="password">Mot de passe</label>
                       </div>

                       <div class="checkbox my-3 my-lg-4">
                           <label>
                               <input type="checkbox" value="remember_me"> Se souvenir de moi
                           </label>
                       </div>
                       <input type="hidden" name="admin_home" value="/admin/"/>
                       <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                       <button class="w-100 btn btn-lg btn-success" type="submit">Se connecter</button>
                   </form>
               </div>
       </div>
   </div>
{% endblock %}
