{% extends 'admin/base.html.twig' %}

{% block title %}Contenu index{% endblock %}

{% block body %}
    <h1>Contenu index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Poster</th>
                <th>Alt</th>
                <th>Identifier</th>
                <th>Title</th>
                <th>Body</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contenu in contenus %}
            <tr>
                <td>{{ contenu.id }}</td>
                <td>{{ contenu.poster }}</td>
                <td>{{ contenu.alt }}</td>
                <td>{{ contenu.identifier }}</td>
                <td>{{ contenu.title }}</td>
                <td>{{ contenu.body }}</td>
                <td>
                    <a href="{{ path('app_contenu_crud_show', {'id': contenu.id}) }}">show</a>
                    <a href="{{ path('app_contenu_crud_edit', {'id': contenu.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_contenu_crud_new') }}">Create new</a>
{% endblock %}
