{% extends 'admin/base.html.twig' %}

{% block title %}Contenu{% endblock %}

{% block body %}
    <h1>Contenu</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contenu.id }}</td>
            </tr>
            <tr>
                <th>Poster</th>
                <td>{{ contenu.poster }}</td>
            </tr>
            <tr>
                <th>Alt</th>
                <td>{{ contenu.alt }}</td>
            </tr>
            <tr>
                <th>Identifier</th>
                <td>{{ contenu.identifier }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ contenu.title }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ contenu.body }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_contenu_crud_index') }}">back to list</a>

    <a href="{{ path('app_contenu_crud_edit', {'id': contenu.id}) }}">edit</a>

    {{ include('contenu_crud/_delete_form.html.twig') }}
{% endblock %}
