{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Contact{% endblock %}

{% block body %}
    <h1 class="text-light text-center fs-1 text-uppercase fw-bold mt-4">contacter l'OSSO</h1>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6 mx-auto">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <p class="text-light text-start fs-5">
                    Si vous souhaitez prendre contact avec l'OSSO, vous pouvez nous transmettre un message par
                    l'intermédiaire du formulaire ci-dessous.
                </p>
                <hr>
                <div class="card" id="contact-form">
                    <div class="card-body">
                        {{ form_start(form) }}
                        <div class="mb-0">
                            {{ form_label(form.fullName) }}
                            {{ form_errors(form.fullName) }}
                            {{ form_widget(form.fullName) }}
                            {{ form_help(form.fullName) }}
                        </div>
                        <div class="mb-0">
                            {{ form_label(form.email) }}
                            {{ form_errors(form.email) }}
                            {{ form_widget(form.email) }}
                            {{ form_help(form.email) }}
                        </div>
                        <div class="mb-0">
                            {{ form_label(form.subject) }}
                            {{ form_errors(form.subject) }}
                            {{ form_widget(form.subject) }}
                            {{ form_help(form.subject) }}
                        </div>
                        <div class="mb-0">
                            {{ form_label(form.message) }}
                            {{ form_errors(form.message) }}
                            {{ form_widget(form.message) }}
                            {{ form_help(form.message) }}
                        </div>
                        <div class="d-flex flex-column justify-content-between">
                            {{ form_row(form.hasAcceptedPrivacy) }}
                            <a href="{{ path('app_privacy') }}" class="link-light">Politique de confidentialité</a>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>

            </div>
        </div>


    </div>


{% endblock %}
