<nav class="navbar navbar-expand-xl navbar-dark bg-secondary fixed-top" aria-label="OSSO website navbar">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">OSSO</span>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarOSSO" aria-controls="navbarOSSO" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
{#création du tableau twig regroupant les liens et le nom de la page#}
        {% set links = [
            {'title':'présentation', 'path': "orchestra_presentation"},
            {'title':'Musiciens', 'path': "orchestra_instrument"},
            {'title':'notre répertoire', 'path': "orchestra_musical_work"},
            {'title':'concerts passés et futurs', 'path': "event_index"},
            {'title':'médias', 'path': "press_index"},
            {'title':"nous contactez", 'path': "contact_index"},
        ] %}
        <div class="navbar-collapse collapse" id="navbarOSSO" style="">
            <ul class="navbar-nav ms-lg-auto mb-2 mb-lg-0 d-flex align-items-center">
                {#<li class="mb-1 me-lg-5">
                    <a href="{{ path('app_index') }}"
                       class="btn btn-primary btn-lg d-inline-flex align-items-center rounded border-0  {{ app.request.pathinfo == path("app_index") ? 'active' }}"
                       role="button"
                            {{ app.request.pathinfo == path("app_index") ? 'aria-current = "page"' }}
                    >
                        Accueil
                    </a>
                </li>#}
                {% for link in links %}
                    <li class="mb-1 me-lg-5">
                        <a class="btn btn-primary btn-lg d-inline-flex align-items-center rounded border-0 {{ app.request.pathinfo ==  path(link.path)  ? 'active' }}" {{ app.request.pathinfo ==  path(link.path)  ? 'aria-current = "page"' }}
                           href="{{ path(link.path) }}">{{ link.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>