<nav class="navbar navbar-expand-lg navbar-dark bg-secondary" aria-label="OSSO website navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">OSSO</a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarOSSO" aria-controls="navbarOSSO" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarOSSO" style="">
            <ul class="navbar-nav ms-lg-auto mb-2 mb-lg-0 d-flex align-items-center">
                <li class="mb-1 me-lg-5">
                    <a href="{{ path('app_index') }}"
                       class="btn btn-primary btn-lg d-inline-flex align-items-center rounded border-0  {{ app.request.pathinfo == path("app_index") ? 'active' }}"
                       role="button"
                            {{ app.request.pathinfo == path("app_index") ? 'aria-current = "page"' }}
                    >
                        Accueil
                    </a>
                </li>
                <li class="mb-1 me-lg-5">
                    <a
                            class="btn btn-primary btn-lg btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                            data-bs-toggle="collapse"
                            data-bs-target="#orchestra-collapse"
                            id="navbarDropdown"
                            aria-expanded="false"
                            role="button"
                    >
                        Orchestre
                    </a>
                    <div class="collapse" id="orchestra-collapse" style>
                        <ul class="btn-toggle-nav list-group">
                            <li>
                                <a class="list-group-item btn btn-primary rounded border-0 {{ app.request.pathinfo ==  path("orchestra_presentation")  ? 'active' }}" {{ app.request.pathinfo ==  path("orchestra_presentation")  ? 'aria-current = "page"' }}
                                   href="{{ path("orchestra_presentation") }}">Présentation
                                </a>
                            </li>
                            <li>
                                <a class="list-group-item btn btn-primary rounded border-0 {{ app.request.pathinfo == "#" ? 'active' }}" {{ app.request.pathinfo == "#" ? 'aria-current = "page"' }}
                                   href="#">Musiciens
                                </a></li>
                            <li>
                                <a class="list-group-item btn btn-primary rounded border-0 {{ app.request.pathinfo == "#" ? 'active' }}" {{ app.request.pathinfo == "#" ? 'aria-current = "page"' }}
                                   href="#">Le répertoire
                                </a></li>
                        </ul>
                    </div>

                </li>
                <li class="mb-1 me-lg-5">
                    <a href="{{ path('app_index') }}"
                       class="btn btn-primary btn-lg d-inline-flex align-items-center rounded border-0  {{ app.request.pathinfo == '#' ? 'active' }}"
                       role="button"
                            {{ app.request.pathinfo == '#' ? 'aria-current = "page"' }}
                    >
                        Calendrier
                    </a>
                </li>
                <li class="mb-1 me-lg-5">
                    <a href="{{ path('app_index') }}"
                       class="btn btn-primary btn-lg d-inline-flex align-items-center rounded border-0  {{ app.request.pathinfo == '#' ? 'active' }}"
                       role="button"
                            {{ app.request.pathinfo == "#" ? 'aria-current = "page"' }}
                    >
                        Médias
                    </a>
                </li>
                <li class="mb-1">
                    <a href="{{ path('app_index') }}"
                       class="btn btn-primary btn-lg d-inline-flex align-items-center rounded border-0  {{ app.request.pathinfo == '#' ? 'active' }}"
                       role="button"
                            {{ app.request.pathinfo == '#' ? 'aria-current = "page"' }}
                    >
                        Contactez nous
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>