<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-sidebar sidebar">
    {% set links = [
        {'title': 'Accueil', 'path': 'app_index'},
        {'title': 'Orchestre', 'path': '#'},
        {'title': 'Calendrier', 'path': '#'},
        {'title': 'Médias', 'path': '#'},
        {'title': 'Contact', 'path': '#'},
    ] %}
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="{{ path('app_index') }}"
               class="nav-link {{ app.request.pathinfo == path('app_index') ? 'active' }}"
                    {{ app.request.pathinfo == path('app_index') ? 'aria-current = "page"' }}
            >
                Accueil
            </a>
        </li>
        <li class="nav-item dropdown">
            <a href="#"
               class="nav-link dropdown-toggle {{ app.request.pathinfo == '#' ? 'active' }}"
               id="navbarDropdown"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false"
                    {{ app.request.pathinfo == '#' ? 'aria-current = "page"' }}
            >
                Orchestre
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="dropdown-item {{ app.request.pathinfo == path('app_index') ? 'active' }}" {{ app.request.pathinfo == path('app_index') ? 'aria-current = "page"' }}
                    href="#">Présentation
                </li>
                <li class="dropdown-item {{ app.request.pathinfo == path('app_index') ? 'active' }}" {{ app.request.pathinfo == path('app_index') ? 'aria-current = "page"' }}
                    href="#">Musiciens
                </li>
                <li class="dropdown-item {{ app.request.pathinfo == path('app_index') ? 'active' }}" {{ app.request.pathinfo == path('app_index') ? 'aria-current = "page"' }}
                    href="#">Le répertoire
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#"
               class="nav-link {{ app.request.pathinfo == '#' ? 'active' }}"
                    {{ app.request.pathinfo == '#' ? 'aria-current = "page"' }}
            >
                Calendrier
            </a>
        </li>
        <li class="nav-item">
            <a href="#"
               class="nav-link {{ app.request.pathinfo == '#' ? 'active' }}"
                    {{ app.request.pathinfo == '#' ? 'aria-current = "page"' }}
            >
                Médias
            </a>
        </li>
        <li class="nav-item">
            <a href="#"
               class="nav-link {{ app.request.pathinfo == '#' ? 'active' }}"
                    {{ app.request.pathinfo == '#' ? 'aria-current = "page"' }}
            >
                Contact
            </a>
        </li>
    </ul>
</div>