<button class="btn btn-info d-lg-none text-uppercase" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasResponsive"
        aria-controls="offcanvasResponsive">Menu
</button>


<div class="sidebar offcanvas-lg offcanvas-start d-flex flex-column flex-shrink-0 p-3 text-white"
     tabindex="-1" id="offcanvasResponsive" data-bs-scroll="true" data-bs-backdrop="false" aria-labelledby="offcanvasResponsiveLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasResponsiveLabel">OSSO</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasResponsive"
                aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-flex justify-content-center">
        <ul class="nav nav-pills flex-column mb-auto align-items-center justify-content-around h-100">
            <li class="mb-1">
                <a href="{{ path('app_index') }}"
                   class="btn btn-primary  d-inline-flex align-items-center rounded border-0  {{ app.request.pathinfo == path("app_index") ? 'active' }}"
                   role="button"
                        {{ app.request.pathinfo == path("app_index") ? 'aria-current = "page"' }}
                >
                    Accueil
                </a>
            </li>
            <li class="mb-1">
                <a
                        class="btn btn-primary btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        data-bs-toggle="collapse"
                        data-bs-target="#orchestra-collapse"
                        id="navbarDropdown"
                        aria-expanded="false"
                        role="button"
                >
                    Orchestre
                </a>
                <div class="collapse" id="orchestra-collapse" style>
                    <ul class="btn-toggle-nav">
                        <li class=" btn btn-primary rounded border-0 {{ app.request.pathinfo == "#" ? 'active' }}" {{ app.request.pathinfo == "#" ? 'aria-current = "page"' }}
                            href="#">Présentation
                        </li>
                        <li class="btn btn-primary rounded border-0 {{ app.request.pathinfo == "#" ? 'active' }}" {{ app.request.pathinfo == "#" ? 'aria-current = "page"' }}
                            href="#">Musiciens
                        </li>
                        <li class="btn btn-primary rounded border-0 {{ app.request.pathinfo == "#" ? 'active' }}" {{ app.request.pathinfo == "#" ? 'aria-current = "page"' }}
                            href="#">Le répertoire
                        </li>
                    </ul>
                </div>

            </li>
            <li class="mb-1">
                <a href="{{ path('app_index') }}"
                   class="btn btn-primary  d-inline-flex align-items-center rounded border-0  {{ app.request.pathinfo == '#' ? 'active' }}"
                   role="button"
                        {{ app.request.pathinfo == '#' ? 'aria-current = "page"' }}
                >
                    Calendrier
                </a>
            </li>
            <li class="mb-1">
                <a href="{{ path('app_index') }}"
                   class="btn btn-primary  d-inline-flex align-items-center rounded border-0  {{ app.request.pathinfo == '#' ? 'active' }}"
                   role="button"
                        {{ app.request.pathinfo == "#" ? 'aria-current = "page"' }}
                >
                    Médias
                </a>
            </li>
            <li class="mb-1">
                <a href="{{ path('app_index') }}"
                   class="btn btn-primary  d-inline-flex align-items-center rounded border-0  {{ app.request.pathinfo == '#' ? 'active' }}"
                   role="button"
                        {{ app.request.pathinfo == '#' ? 'aria-current = "page"' }}
                >
                    Contactez nous
                </a>
            </li>
        </ul>

    </div>
</div>


{# <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-sidebar sidebar">

    <ul class="nav nav-pills flex-column mb-auto align-items-center justify-content-around h-100">
        <li class="mb-1">
            <a href="{{ path('app_index') }}"
               class="btn btn-primary  d-inline-flex align-items-center rounded border-0  {{ app.request.pathinfo == path("app_index") ? 'active' }}"
               role="button"
                    {{ app.request.pathinfo == path("app_index") ? 'aria-current = "page"' }}
            >
                Accueil
            </a>
        </li>
        <li class="mb-1">
            <a
               class="btn btn-primary btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
               data-bs-toggle="collapse"
               data-bs-target="#orchestra-collapse"
               id="navbarDropdown"
               aria-expanded="false"
               role="button"
            >
                Orchestre
            </a>
            <div class="collapse" id="orchestra-collapse" style>
                <ul class="btn-toggle-nav">
                    <li class=" btn btn-primary rounded border-0 {{ app.request.pathinfo == "#" ? 'active' }}" {{ app.request.pathinfo == "#" ? 'aria-current = "page"' }}
                        href="#">Présentation
                    </li>
                    <li class="btn btn-primary rounded border-0 {{ app.request.pathinfo == "#" ? 'active' }}" {{ app.request.pathinfo == "#" ? 'aria-current = "page"' }}
                        href="#">Musiciens
                    </li>
                    <li class="btn btn-primary rounded border-0 {{ app.request.pathinfo == "#" ? 'active' }}" {{ app.request.pathinfo == "#" ? 'aria-current = "page"' }}
                        href="#">Le répertoire
                    </li>
                </ul>
            </div>

        </li>
        <li class="mb-1">
            <a href="{{ path('app_index') }}"
               class="btn btn-primary  d-inline-flex align-items-center rounded border-0  {{ app.request.pathinfo == '#' ? 'active' }}"
               role="button"
                    {{ app.request.pathinfo == '#' ? 'aria-current = "page"' }}
            >
                Calendrier
            </a>
        </li>
        <li class="mb-1">
            <a href="{{ path('app_index') }}"
               class="btn btn-primary  d-inline-flex align-items-center rounded border-0  {{ app.request.pathinfo == '#' ? 'active' }}"
               role="button"
                    {{ app.request.pathinfo == "#" ? 'aria-current = "page"' }}
            >
                Médias
            </a>
        </li>
        <li class="mb-1">
            <a href="{{ path('app_index') }}"
               class="btn btn-primary  d-inline-flex align-items-center rounded border-0  {{ app.request.pathinfo == '#' ? 'active' }}"
               role="button"
                    {{ app.request.pathinfo == '#' ? 'aria-current = "page"' }}
            >
                Contactez nous
            </a>
        </li>
    </ul>
</div> #}
