{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Présentation de l'OSSO{% endblock %}

{% block body %}

    <div class="banner-presentation"></div>
    <h1 class="text-light text-center fs-1 text-uppercase fw-bold my-lg-4">Présentation de l'OSSO</h1>

    <section class="container-fluid">
        <div class="row g-3 d-flex flex-row align-items-lg-baseline">
            <div class=" col-12 col-lg-4 mb-lg-5">
                <div class="card shadow">
                    <h4 class="card-header card-title">{{ osso_history.0.title }}</h4>
                    <div class="card-body text-bg-secondary">
                        <p class="card-text">{{ osso_history.0.body }}</p>
                    </div>
                </div>
            </div>
            <div class=" col-12 col-lg-4 mb-lg-5">
                <div class="card">
                    <h4 class="card-title card-header">{{ director_biography.0.title }}</h4>
                    <div class="card-body text-bg-secondary">
                        <p class="card-text">{{ director_biography.0.body }}</p>
                    </div>
                </div>
            </div>
            <div class=" col-12 col-lg-4 mb-4">
                <div class="card">
                    <h4 class="card-title card-header">{{ administration_council.0.title }}</h4>
                    <div class="card-body text-bg-secondary">
                        <p class="card-text">{{ administration_council.0.body }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
